In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/elakiricoder/Gender_Classification_Support_Vector_Machines_SVM/main/gender_classification_v7.csv')
df.head()

   long_hair  forehead_width_cm  ...  distance_nose_to_lip_long  Male
0          1               11.8  ...                          1     1
1          0               14.0  ...                          0     0
2          0               11.8  ...                          1     1
3          0               14.4  ...                          1     1
4          1               13.5  ...                          0     0

[5 rows x 8 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   long_hair                  5001 non-null   int64
 1   forehead_width_cm          5001 non-null   float64
 2   forehead_height_cm         5001 non-null   float64
 3   nose_wide                  5001 non-null   int64
 4   nose_long                  5001 non-null   int64
 5   lips_thin                  5001 non-null   int64
 6   distance_nose_to_lip_long  5001 non-null   int64
 7   Male                       5001 non-null   int64
dtypes: float64(2), int64(6)
memory usage: 312.7 KB

In [ ]:
x = df.iloc[:,:-1].values
y = np.array(df['Male'])
labels, unique = pd.factorize(y)

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.40)

In [ ]:
def takeSecond(ele):
  return ele[1]

In [ ]:
def KNNClassify(X_test, y_train = y_train, x_train = x_train, k=8):
  min_dis = []
  for i, point in enumerate(x_train):
    d1 = (point[0]-X_test[0])**2
    d2 = (point[1]-X_test[1])**2
    d3 = (point[2]-X_test[2])**2
    d4 = (point[3]-X_test[3])**2
    d5 = (point[4]-X_test[4])**2
    d6 = (point[5]-X_test[5])**2
    d7 = (point[6]-X_test[6])**2
    dist = np.sqrt(d1+d2+d3+d4+d5+d6+d7)
    min_dis.append((i,dist))

  min_dis.sort(key=takeSecond)

  neighbors = min_dis[:k]

  idx = []
  for ele in neighbors:
    idx.append(ele[0])
  
  output = y_train[idx]

  values, count = np.unique(output, return_counts=True)

  max_idx = np.argmax(count)

  return values[max_idx]

In [ ]:
predictions = list(map(KNNClassify,x_test))

In [ ]:
def accuracy(pred, y_test):
  count=0
  for i in range(len(pred)):
    if(pred[i]==y_test[i]):
      count+=1
  
  print("Accuracy = ",(count/len(pred))*100, "%")

In [ ]:
accuracy(predictions,y_test)

Accuracy =  96.7016491754123 %