In [ ]:
import pandas as pd

df=pd.read_csv('Boston.csv')

In [ ]:
df.head()

   Unnamed: 0     crim    zn  indus  chas  ...  tax  ptratio   black  lstat  medv
0           1  0.00632  18.0   2.31     0  ...  296     15.3  396.90   4.98  24.0
1           2  0.02731   0.0   7.07     0  ...  242     17.8  396.90   9.14  21.6
2           3  0.02729   0.0   7.07     0  ...  242     17.8  392.83   4.03  34.7
3           4  0.03237   0.0   2.18     0  ...  222     18.7  394.63   2.94  33.4
4           5  0.06905   0.0   2.18     0  ...  222     18.7  396.90   5.33  36.2

[5 rows x 15 columns]

In [ ]:
df

     Unnamed: 0     crim    zn  indus  chas  ...  tax  ptratio   black  lstat  medv
0             1  0.00632  18.0   2.31     0  ...  296     15.3  396.90   4.98  24.0
1             2  0.02731   0.0   7.07     0  ...  242     17.8  396.90   9.14  21.6
2             3  0.02729   0.0   7.07     0  ...  242     17.8  392.83   4.03  34.7
3             4  0.03237   0.0   2.18     0  ...  222     18.7  394.63   2.94  33.4
4             5  0.06905   0.0   2.18     0  ...  222     18.7  396.90   5.33  36.2
..          ...      ...   ...    ...   ...  ...  ...      ...     ...    ...   ...
501         502  0.06263   0.0  11.93     0  ...  273     21.0  391.99   9.67  22.4
502         503  0.04527   0.0  11.93     0  ...  273     21.0  396.90   9.08  20.6
503         504  0.06076   0.0  11.93     0  ...  273     21.0  396.90   5.64  23.9
504         505  0.10959   0.0  11.93     0  ...  273     21.0  393.45   6.48  22.0
505         506  0.04741   0.0  11.93     0  ...  273     21.0  396.90   7.88  11.9

[506 rows x 15 columns]

In [ ]:
df.corr()['medv'].sort_values(ascending=False)

medv          1.000000
rm            0.695360
zn            0.360445
black         0.333461
dis           0.249929
chas          0.175260
Unnamed: 0   -0.226604
age          -0.376955
rad          -0.381626
crim         -0.388305
nox          -0.427321
tax          -0.468536
indus        -0.483725
ptratio      -0.507787
lstat        -0.737663
Name: medv, dtype: float64

In [ ]:
X=df[['rm','lstat']]
X

        rm  lstat
0    6.575   4.98
1    6.421   9.14
2    7.185   4.03
3    6.998   2.94
4    7.147   5.33
..     ...    ...
501  6.593   9.67
502  6.120   9.08
503  6.976   5.64
504  6.794   6.48
505  6.030   7.88

[506 rows x 2 columns]

In [ ]:
print('min is',X.min())
print('max is',X.max())

min is rm       3.561
lstat    1.730
dtype: float64
max is rm        8.78
lstat    37.97
dtype: float64

In [ ]:
from sklearn import preprocessing
do=preprocessing.MinMaxScaler(feature_range=(0,1))
Xscaled=do.fit_transform(X)

In [ ]:
Xscaled

array([[0.57750527, 0.08967991],
       [0.5479977 , 0.2044702 ],
       [0.6943859 , 0.06346578],
       ...,
       [0.65433991, 0.10789183],
       [0.61946733, 0.13107064],
       [0.47307913, 0.16970199]])

In [ ]:
y=df['medv']
y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: medv, Length: 506, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest,ytain,ytest=train_test_split(Xscaled,y,test_size=0.75)

In [ ]:
from sklearn.svm import SVR
lir=SVR(kernel='linear')

In [ ]:
from sklearn.model_selection import GridSearchCV
param_grid = {'C':range(1,100)}
grid = GridSearchCV(lir,param_grid,cv=3)

In [ ]:
grid.fit(Xtrain,ytain)

GridSearchCV(cv=3, estimator=SVR(kernel='linear'),
             param_grid={'C': range(1, 100)})

In [ ]:
grid.best_params_

{'C': 34}

In [ ]:
from sklearn.svm import SVR
lir=SVR(kernel='rbf',C=34)
lir.fit(Xtrain,ytain)

SVR(C=34)

In [ ]:
lir.score(Xtest,ytest)

0.7255359665007772

In [ ]:

lir.predict(Xtrain)

array([20.339524  , 21.1490015 , 14.92766077, 11.91918706, 23.55530164,
       15.29990701, 18.22672503, 18.42215114, 10.30013542, 21.74764885,
        7.10009737, 22.89706269, 21.38341453, 20.44976542, 36.23256322,
       17.42133846, 25.48350548, 20.21367405, 17.22088018, 42.28709193,
       33.21174934, 26.6585457 , 23.44526462,  8.59981379, 16.50019932,
       38.77635292, 19.97618092, 30.63864131, 31.15305769, 49.9001286 ,
       19.63696775, 28.2027595 , 21.49296658, 21.82317079, 19.84447049,
       21.09969686, 26.08721462, 26.74571722, 25.26872118, 23.97350995,
       47.28197629, 22.78966583, 29.79619704, 21.48085597, 21.8438066 ,
       21.73021839, 21.77079679, 23.66279268, 30.60030133, 22.75988363,
       21.42947697, 23.50118138,  6.56831116, 34.39937123, 22.54422956,
       47.76696697, 49.90019553,  8.91767599, 30.84306451, 21.94689413,
       21.92559151, 16.07316146, 21.14324686, 23.89640008, 27.16688954,
       16.91345275, 19.08633659, 47.33704191, 21.93479842, 11.61932196,
       12.09982553, 20.9998751 , 20.91067888, 20.89409599, 32.95121922,
       25.08726141, 12.28708194, 22.53741096, 19.61450928, 24.36104528,
       24.87176978, 22.87514378, 24.51563379, 21.25192068, 22.72106317,
       51.41252401,  9.94635866, 48.74966398, 17.79645994, 35.00024095,
       20.81531618, 12.23346566, 27.79983999, 16.56714525, 21.6885482 ,
       24.06124067, 16.90509262, 21.41770215, 12.00853107, 19.59444368,
       14.53472642, 29.06820938,  8.9783668 , 21.13014215, 26.62469238,
       21.70446927, 21.19107166, 35.8990364 ,  9.92053135, 18.32793458,
       20.71178603, 21.09956186,  7.10020361, 24.55318796, 20.73294049,
       16.99830097, 14.68716688, 21.13253747, 19.82250074, 21.89653368,
       31.89997581, 20.42992372, 13.40018453, 33.98855134, 22.31063718,
       19.96999673])

In [ ]:
ytain

270    21.1
59     19.6
389    11.5
382    11.3
360    25.0
       ...
492    20.1
377    13.3
3      33.4
355    20.6
459    20.0
Name: medv, Length: 126, dtype: float64

In [ ]:
Xtrain.size

252

In [ ]:
ytain.size

126

In [ ]:
lir.predict(Xtest)

array([21.76347758,  7.52625037, 14.34572882, 30.60999854, 32.21785039,
       19.81816233,  6.64180907,  6.03359867, 25.06417519,  9.54488084,
       18.87398304, 51.19605006, 45.20117561, 20.54701811, 23.42839331,
       25.66677531, 21.54652907, 13.64384068, 19.51682013, 28.35512389,
        9.76572884, 17.72342957, 20.89000038, 51.20675714, 20.74141724,
       19.54667389, 19.87604241, 31.32170406, 20.99895467, 18.81967551,
       46.78072013, 18.97483405, 22.5442816 , 17.42800041, 27.0087989 ,
       22.95447442,  9.84092026, 13.33923323, 19.31784958,  9.85665131,
       19.7197144 , 17.34900939, 20.181907  , 19.59408469, 24.94930392,
       19.95021457, 19.9306623 , 23.6160699 , 19.75623835, 29.47754828,
       17.20775966, 22.15566448, 32.2015254 , 21.3240508 , 14.61389537,
       39.11306045, 19.3804283 , 10.24728342, 24.62950962, 21.76394666,
       18.90344565,  6.98729636, 19.27203871,  6.01197891, 21.0829444 ,
       20.75378205, 20.64676696, 44.75106247, 16.87948242, 15.73992436,
       16.58167201, 21.80702691, 22.09908481, 17.24133248, 23.08161994,
       13.56231391, 20.57649081, 41.77951316, 48.63045974, 20.26940146,
       13.12119795, 22.92705721, 14.72305306, 21.97264358, 21.61183755,
       28.030522  , 18.93324247, 35.77495854, 20.49054204, 21.84564247,
       13.50128173,  9.57385073, 24.7646775 , 18.88573875, 20.37975715,
       10.84744778, 30.59221022, 25.54427792, 24.71989001, 13.02560312,
       22.52436314, 32.35091286, 25.64945624, 19.85917645, 23.39320121,
       34.2484623 ,  6.29446691, 21.10710141, 18.32803007, 19.1010025 ,
       27.75069707, 35.03264231, 18.814533  , 50.20948906, 38.17787979,
       18.82902572, 18.26949423, 49.64348086, 20.79849945, 17.56958262,
       24.95200846, 19.82537254, 38.42516942,  7.98952558, 20.59357308,
       16.26249882,  9.81728244, 20.10116463, 25.24753436, 17.28537444,
       12.67394297, 18.05205096, 20.91405332, 20.85161731, 22.53206847,
       17.69169901, 20.15825961, 34.18820861, 21.50612043, 20.23833913,
       20.38791908, 17.8354922 ,  7.68015781, 17.88002875,  5.75578253,
       21.75555071, 15.33892656, 20.85356705, 24.37510533, 15.5512387 ,
       16.36306725, 21.64722722, 19.89531965, 18.53324129, 49.79200057,
        7.86172683, 21.29547117, 27.98730371, 20.05968252, 18.09733593,
       18.15535461, 27.69872149, 20.61754602, 20.73879242, 20.27196903,
       11.1032911 , 14.35939198, 19.20412719,  6.37182103, 11.62573383,
       21.84335322, 22.98210776, 19.77826404, 19.15874313, 18.63652572,
       18.08024932, 20.09659138, 12.6679651 , 31.97640312, 26.31817144,
       21.42708402, 19.77021908, 21.73037768, 10.87191358, 21.12072542,
       20.81819722, 12.18665575, 21.70187682, 20.62302061, 36.88877592,
       23.35176563, 20.6373011 , 17.20535327, 21.62255743, 20.60966156,
       26.81447728, 20.98359246, 21.22630803, 23.63023006, 19.78653468,
       25.44667451, 18.27820184, 29.03301597, 19.71740442, 20.10388955,
       37.99490782, 22.76572374, 15.87955877, 20.87101261, 34.91421007,
       29.71770472, 24.09989375, 43.27785074, 19.11775093, 20.2430134 ,
       25.85165323, 21.08913842, 14.54089654, 21.29439276, 18.6318502 ,
       26.23552525,  9.78179729, 31.73789243, 26.17202143, 25.56134466,
       21.26889758, 18.7408843 , 19.98482624,  7.24807273,  6.86368162,
       18.18865438, 20.24298913, 21.06058707, 19.6798653 , 19.05777778,
       10.66698061, 21.63008309, 26.44742493, 20.01998839, 21.08122301,
       19.89107699, 19.48495388, 18.89901443, 31.84563604, 13.41726868,
       19.00740958, 15.81175317, 35.24815482, 20.58643733, 24.47828306,
       19.84199515, 20.6114324 , 27.79441924, 20.37005278, 16.58482767,
       20.56740895, 30.5239166 ,  8.28566569, 20.31400181, 17.10506799,
       10.14537205, 17.59161351, 20.5577622 , 14.33409513, 26.93669127,
       24.77982865, 19.39296662, 49.46944052, 23.65995825, 27.75914588,
       22.68031404, 17.29656437, 21.85277478,  8.99379437, 23.35586923,
       22.18917741, 20.49141336, 18.00710889, 20.52945863, 50.56379651,
       20.86825853, 19.21082003, 26.31642754, 26.20090985, 44.16967633,
       30.20005106, 18.36571341, 24.84788507, 15.29011648, 20.25186203,
       21.01110917, 20.80035812, 15.04354356, 24.22913888, 22.59566182,
       36.70332339, 30.23980094, 41.51941909, 32.87616058, 23.90630784,
       21.22894399, 20.32484312, 18.12453666, 20.0029191 , 21.16155859,
       28.40745194, 29.97959567, 20.47829367, 15.43345404, 17.74867784,
       16.79086848, 21.76628038, 33.57206262, 24.05371624, 21.21867364,
       21.20923084, 25.32800973,  7.57108685, 13.85087643, 25.36698383,
       17.04499207, 29.40172417, 47.31339683, 50.21136832, 24.04337634,
       13.29087537, 23.5928164 , 21.8569843 , 24.49193962, 18.26560452,
       22.79991391, 31.4843081 , 35.02541371, 21.83980567, 21.00578773,
       23.40401543, 51.43550764, 32.17862801, 26.3642267 , 23.99035388,
       22.41668008, 23.65947925, 31.93563856, 29.27558173, 16.63642718,
       10.82227823, 20.29786486, 34.85224665, 43.21097761, 20.89738266,
       19.90065829, 18.9325413 , 12.33817281, 20.3676475 , 23.59953173,
       10.69176184, 27.66352879, 51.3075844 , 21.30899006, 27.09739397,
       20.30703127, 21.01918642, 23.04501266, 48.02689696, 20.29116259,
       16.54519666, 20.82085919, 16.15325409, 26.75470904, 23.20073309,
       17.92516717, 29.18505049, 23.5710926 , 18.75960752, 23.87734307,
       11.14838984, 35.95419519, 19.72711522, 39.32559261, 21.87213625])

In [ ]:
ytest.head()

247    20.5
214    23.7
20     13.6
64     33.0
281    35.4
Name: medv, dtype: float64