In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/DependerKumarSoni/Social-Network-Ads-Using-SVC/main/Social_Network_Ads.csv")

In [ ]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
print(len(data))

400

In [ ]:
data.isna().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [ ]:
data.value_counts()

User ID   Gender  Age  EstimatedSalary  Purchased
15815236  Female  45   131000           1            1
15660200  Female  37   71000            0            1
15649668  Male    41   79000            0            1
15651983  Male    34   112000           1            1
15652400  Female  38   50000            0            1
                                                    ..
15733883  Male    47   25000            1            1
15733964  Female  38   50000            0            1
15733973  Female  47   113000           1            1
15734161  Female  37   93000            1            1
15566689  Female  35   57000            0            1
Length: 400, dtype: int64

In [ ]:
X = data.drop('Purchased', axis=1)
Y = data['Purchased']

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
dtypes: int64(3), object(1)
memory usage: 12.6+ KB

In [ ]:
X=pd.get_dummies(X, drop_first=True)

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Age              400 non-null    int64
 2   EstimatedSalary  400 non-null    int64
 3   Gender_Male      400 non-null    uint8
dtypes: int64(3), uint8(1)
memory usage: 9.9 KB

In [ ]:
X.head()

    User ID  Age  EstimatedSalary  Gender_Male
0  15624510   19            19000            1
1  15810944   35            20000            1
2  15668575   26            43000            0
3  15603246   27            57000            0
4  15804002   19            76000            1

In [ ]:
Y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
ss = StandardScaler()

In [ ]:
X_s = ss.fit_transform(X)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train , y_test = train_test_split(X_s, Y, test_size=0.2, random_state=12)

In [ ]:
print(len(x_train), len(y_train))

320 320

In [ ]:
from sklearn.svm import SVC

In [ ]:
clf = SVC(kernel='linear')

In [ ]:
clf.fit(x_train, y_train)

SVC(kernel='linear')

In [ ]:
y_pred = clf.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_test, y_pred)

0.8375